* {
  box-sizing: border-box;

}
body{
  margin: 0;
}

a { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.topnavbar {
  overflow: hidden;
  background-color: black;
  padding: 35px;
}


.topnavbar .link{
  display:none;
}

@media screen and (max-width: 600px) {
  .topnavbar a:not(:first-child) {display: none;}
  .topnavbar a.link {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnavbar.responsive {position: relative;}
  .topnavbar.responsive .link {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnavbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.link {
  color: white;
  text-decoration: none;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.link:hover{
  color: rgb(238, 131, 238);
}

.picture {
  display: block;
  width: 200px;
  margin: auto;
}

.sorenimg{
  width: 100%;
  transition: rotate 0.3s;
}

.sorenimg:hover{
  rotate: -15deg;
}

.title {
  font-family: baskervville;
  display: block;
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

h4 {
  margin-top: -15px;
}

.content{
  text-align: center;
  margin-top: 280px;
}

.most-recent{
  z-index: 2;
  width: 540px;
  height: 300px;
  transition: all 0.5s;
  margin-left: 0px;
  margin-top: -200px;
}


.right-content:hover{
  transform: rotate(5deg) scale(1.1);
  position:relative;
  z-index: 2;
}

.most-recent:hover{
  transform: scale(1.1);
  position:relative;
  z-index: 2;
}

.left-content:hover{
  transform: rotate(-5deg) scale(1.1);
  position:relative;
  z-index: 2;
}

.left-content{
  z-index: 1;
  width: 540px;
  height: 300px;
  transition: all 0.5s;
  margin-left: -1200px;
  margin-top: -305px;
  margin-bottom: 246px;

}

.right-content{
  display:block;
  z-index: 2;
  width: 540px;
  height: 300px;
  transition: all 0.5s;
  margin-left: 1260px;
  margin-top: -550px;
  margin-bottom: 250px;
}


.content-left:hover {
  transform: rotate(-5deg) scale(1.1);
  position:relative;
  z-index: 2;
}

.content-recent:hover{
  transform: scale(1.1);
}

.footers{
  background-color: #f1f1f1;
  margin-top: -100px;
  padding: 25px;
  text-align: center;
}

h2{
  margin-bottom: -25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(251, 240, 255);
  padding: 20px
}
